@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500&family=Bellefair&display=swap");
@import "./variable";
@import "./navbar";
@import "./home";
@import "./destination";
@import "./crew";
@import "./technology";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url(/starter-code/assets/home/background-home-mobile.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  // max-height: 100%;
  height: auto;
  color: $paleWhite;
}
